<div class="badRequest flex-column-center">
    {{> typography classNames="size-40 regular color-dark-100" label=title }}
    {{> typography classNames="size-20 regular color-dark-100 mt-20" label=subtitle }}
    {{> link classNames="typography size-11 regular mt-60" label=linkLabel url=url }}    
</div>