{{> overlay }}
<div class="modal flex-column-center">
    {{> typography classNames="size-15 regular color-dark-100" label=modalLabel }}
    {{> field classNames="w-100 mt-50" label="Логин" type="text" id="login" name="login" }}
    {{> button classNames="mt-30" label=buttonLabel }}
</div>