<div class="profile flex-column-center w-100">
    <label for="change-avatar" class="profile_avatar">
        {{> avatar classNames="lg change-avatar" url=user.avatar alt=user.firstname }}
    </label>
    <div class="profile_attributes flex-column-center mt-100">
        <div class="profile_attributes-item">
            {{> typography classNames="size-13 regular color-dark-100" label="Старый пароль" }}
            {{> editField type="password" id="oldPassword" name="oldPassword" placeholder="•••••••••" }}
        </div>
        <div class="profile_attributes-item">
            {{> typography classNames="size-13 regular color-dark-100" label="Новый пароль" }}
            {{> editField type="password" id="newPassword" name="newPassword" placeholder="•••••••••" }}
        </div>
        <div class="profile_attributes-item">
            {{> typography classNames="size-13 regular color-dark-100" label="Повторите новый пароль" }}
            {{> editField type="password" id="repeatNewPassword" name="repeatNewPassword" placeholder="•••••••••" }}
        </div>
    </div>
    {{> button classNames="mt-160" label="Сохранить" }}
</div>