{{> overlay }}
<div class="modal profileModal flex-column-center">
    {{> typography classNames="size-15 regular color-red align-center" label="Ошибка, попробуйте ещё раз" }}
    {{> typography classNames="size-15 regular multiline color-dark-100" label="Загрузите файл" }}
    <label for="avatar" class="flex-column-center mt-40">
        <input type="file" id="avatar" name="avatar">
        {{> typography classNames="profileModal_label-text size-12 regular color-blue underline align-center" label="Выбрать файл на компьютере" }}
        {{> typography classNames="profileModal_label-val size-14 regular align-center color-grey-300" label="pic.jpg" }}
    </label>
    {{> button classNames="mt-45" label="Поменять" }}
    {{> typography classNames="size-11 regular color-red align-center mt-14" label="Нужно выбрать файл" }}
</div>