<div class="signIn-modal m-auto">
    {{> typography classNames="size-20 regular color-dark-100" label="Вход" }}
    {{> field classNames="w-100 mt-40" label="Логин" type="text" id="login" name="login" }}
    {{> field classNames="w-100 mt-16" label="Пароль" type="password" id="password" name="password" }}
    {{> button classNames="mt-160" label="Авторизоваться" }}
    {{> link classNames="typography size-11 regular mt-14" label="Нет аккаунта?" url="/src/pages/signup.hbs" }}
</div>