$colors: (
  dark-100: #1e1e1e,
  grey-100: #eaeaea,
  grey-200: #999999,
  grey-300: #8D8D8D,
  light-100: #ffffff,
  light-200: #efefef,
  light-300: #fbfbfb,
  light-400: #f8f8f8,
  light-500: #e4edfd,
  blue: #3369f3,
  red: #ff2f2f,
);
