<html>
  <head>
    <link rel="stylesheet" href="../index.scss" />
  </head>
  <body>
    <div class="dialogsWrapper w-100">
        {{#> badRequest title="404" subtitle="Не туда попали" linkLabel="Назад к чатам" url="/src/pages/dialogs.hbs" }}
        {{/badRequest}}
    </div>
  </body>
</html>