<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 500. Мессенджер - Яндекс практикум</title>
    <link rel="stylesheet" href="../index.scss" />
  </head>
  <body>
    <main>
      <section class="dialogsWrapper w-100">
          {{#> badRequest title="500" subtitle="Мы уже фиксим" linkLabel="Назад к чатам" url="/src/pages/dialogs.hbs" }}
          {{/badRequest}}
      </section>
    </main>
  </body>
</html>
