<html>
<head></head>
<body>
<a href="./pages/signin.hbs">signin</a>
<a href="./pages/signup.hbs">signup</a>
<a href="./pages/dialogs.hbs">dialogs</a>
<a href="./pages/dialogDetail.hbs">dialogDetail</a>
<a href="./pages/dialogAddUser.hbs">dialogAddUser</a>
<a href="./pages/dialogRemoveUser.hbs">dialogRemoveUser</a>
<a href="./pages/profile.hbs">profile</a>
<a href="./pages/profileEdit.hbs">profileEdit</a>
<a href="./pages/profilePassword.hbs">profilePassword</a>
<a href="./pages/profileModal.hbs">profileModal</a>
<a href="./pages/404.hbs">404</a>
<a href="./pages/500.hbs">500</a>
</body>
</html>
