.editField {
  border: none;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #999999;
  width: auto;
}
