.link {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: var(--color-blue);
  transition: 0.2s all linear;
  &:hover {
    opacity: 0.9;
  }

  &.secondary {
    color: var(--color-grey-200);
  }

  &.tertiary {
    color: var(--color-red);
  }
}
